body {
  background-color: #f1f1f1;
}

.post-header ul {
  list-style: none;
  padding: 0;
  margin: 4px 0;
}

.post-header ul li:first-child {
  padding-left: 0;
}

.post-header ul li:not(:first-child):before {
  position: absolute;
  top: 50%;
  left: 0;

  width: 3px;
  height: 3px;
  
  border-radius: 50%;
  
  background: #ddd;
  content: "";
  margin-left: 4px;
  transform: translate(0, -50%);
}

.post-header ul li {
  position: relative;
  float: left;
  margin: 0 0 14px 0;
  padding: 0 0 0 12px;

  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 0.06em;
  color: #aaa;
}

.post-body {
  clear: both;
  margin: 20px 0;
  display: flex;
}

/* FIX - MODAL SEMANTIC UI */

.ui.page.modals.transition.visible {
  display: flex !important;
}

.vote {
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  width: 30px; 
  flex: 0 0 30px; 
}

.vote-icon {
  cursor: pointer;
}

.vote-score {
  margin: 5px;
}

.ui.comments .comment {
  display: flex;
}

.post-comments {
  display: inline-block;
  position: absolute;
  right: 14px;
  bottom: 14px;
}

a {
  color: black;
}

a:hover {
  color: black;
}

ui.item > a {
  background-color: aliceblue;
  width: 100%;
  display: inline-block;
  height: 100%;
}
